In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nanortalik,GL,2022-10-27 19:41:10,60.1432,-45.2371,34.54,80,99,7.83
1,1,Mar Del Plata,AR,2022-10-27 19:40:35,-38.0023,-57.5575,77.02,39,0,11.50
2,2,Hobart,AU,2022-10-27 19:41:11,-42.8794,147.3294,55.26,98,75,4.61
3,3,Punta Arenas,CL,2022-10-27 19:38:03,-53.1500,-70.9167,46.42,57,100,6.91
4,4,Isangel,VU,2022-10-27 19:37:47,-19.5500,169.2667,77.92,81,87,7.90

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
 6. Call the figure to plot the data.
fig

## Heatmaps for Weather Parameters

In [11]:
# Create a Maximum Temperature Heatmap

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Create a Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Create a Percent Cloudiness Heatmap

# Heatmap of percent cloudinesss
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Wind Speed Heatmap
# Heatmap of percent cloudinesss
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [61]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 75

In [62]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nanortalik,GL,2022-10-27 19:41:10,60.1432,-45.2371,34.54,80,99,7.83
2,2,Hobart,AU,2022-10-27 19:41:11,-42.8794,147.3294,55.26,98,75,4.61
3,3,Punta Arenas,CL,2022-10-27 19:38:03,-53.1500,-70.9167,46.42,57,100,6.91
6,6,Ushuaia,AR,2022-10-27 19:39:40,-54.8000,-68.3000,51.42,53,20,13.80
7,7,Mahebourg,MU,2022-10-27 19:41:14,-20.4081,57.7000,73.69,78,40,5.75
8,8,Jamestown,US,2022-10-27 19:41:00,42.0970,-79.2353,53.53,62,0,9.22
10,10,Tuatapere,NZ,2022-10-27 19:41:15,-46.1333,167.6833,53.49,94,99,5.48
12,12,Okha,RU,2022-10-27 19:41:18,53.5739,142.9478,31.08,70,11,8.84
14,14,Busselton,AU,2022-10-27 19:41:19,-33.6500,115.3333,48.63,81,22,11.39
16,16,Tambura,SS,2022-10-27 19:41:20,5.6000,27.4667,72.30,76,43,1.99

In [63]:
preferred_cities_df.count()

City_ID       317
City          317
Country       317
Date          317
Lat           317
Lng           317
Max Temp      317
Humidity      317
Cloudiness    317
Wind Speed    317
dtype: int64

In [64]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [65]:
preferred_cities_df.notnull().sum()

City_ID       317
City          317
Country       317
Date          317
Lat           317
Lng           317
Max Temp      317
Humidity      317
Cloudiness    317
Wind Speed    317
dtype: int64

# Get Travel Destinations

In [66]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Nanortalik      GL     34.54  60.1432  -45.2371
2         Hobart      AU     55.26 -42.8794  147.3294
3   Punta Arenas      CL     46.42 -53.1500  -70.9167
6        Ushuaia      AR     51.42 -54.8000  -68.3000
7      Mahebourg      MU     73.69 -20.4081   57.7000
8      Jamestown      US     53.53  42.0970  -79.2353
10     Tuatapere      NZ     53.49 -46.1333  167.6833
12          Okha      RU     31.08  53.5739  142.9478
14     Busselton      AU     48.63 -33.6500  115.3333
16       Tambura      SS     72.30   5.6000   27.4667

In [68]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

IndexError: list index out of range

In [60]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))