In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nanortalik,GL,2022-10-27 19:41:10,60.1432,-45.2371,34.54,80,99,7.83
1,1,Mar Del Plata,AR,2022-10-27 19:40:35,-38.0023,-57.5575,77.02,39,0,11.50
2,2,Hobart,AU,2022-10-27 19:41:11,-42.8794,147.3294,55.26,98,75,4.61
3,3,Punta Arenas,CL,2022-10-27 19:38:03,-53.1500,-70.9167,46.42,57,100,6.91
4,4,Isangel,VU,2022-10-27 19:37:47,-19.5500,169.2667,77.92,81,87,7.90

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
 6. Call the figure to plot the data.
fig

## Heatmaps for Weather Parameters

In [5]:
# Create a Maximum Temperature Heatmap

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Create a Percent Humidity Heatmap

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create a Percent Cloudiness Heatmap

# Heatmap of percent cloudinesss
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create a Wind Speed Heatmap
# Heatmap of percent cloudinesss
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [41]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mar Del Plata,AR,2022-10-27 19:40:35,-38.0023,-57.5575,77.02,39,0,11.50
4,4,Isangel,VU,2022-10-27 19:37:47,-19.5500,169.2667,77.92,81,87,7.90
5,5,Atuona,PF,2022-10-27 19:41:13,-9.8000,-139.0333,76.98,73,55,17.94
9,9,Faanui,PF,2022-10-27 19:41:15,-16.4833,-151.7500,79.63,66,100,5.99
13,13,The Valley,AI,2022-10-27 19:41:18,18.2170,-63.0578,84.34,70,20,16.11
21,21,Ondjiva,AO,2022-10-27 19:41:24,-17.0667,15.7333,77.67,51,96,8.46
26,26,Lubao,PH,2022-10-27 19:41:27,14.9167,120.5500,80.31,81,96,5.48
27,27,Hilo,US,2022-10-27 19:41:28,19.7297,-155.0900,80.26,89,75,4.61
28,28,Maragogi,BR,2022-10-27 19:41:28,-9.0122,-35.2225,78.26,76,43,8.66
31,31,Arraial Do Cabo,BR,2022-10-27 19:41:30,-22.9661,-42.0278,84.16,69,0,17.27

In [45]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [46]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [47]:
preferred_cities_df.notnull().sum()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

# Get Travel Destinations

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(20)

               City Country  Max Temp      Lat       Lng Hotel Name
1     Mar Del Plata      AR     77.02 -38.0023  -57.5575
4           Isangel      VU     77.92 -19.5500  169.2667
5            Atuona      PF     76.98  -9.8000 -139.0333
9            Faanui      PF     79.63 -16.4833 -151.7500
13       The Valley      AI     84.34  18.2170  -63.0578
21          Ondjiva      AO     77.67 -17.0667   15.7333
26            Lubao      PH     80.31  14.9167  120.5500
27             Hilo      US     80.26  19.7297 -155.0900
28         Maragogi      BR     78.26  -9.0122  -35.2225
31  Arraial Do Cabo      BR     84.16 -22.9661  -42.0278
39     Puerto Ayora      EC     80.56  -0.7393  -90.3518
40   Cabo San Lucas      MX     85.60  22.8909 -109.9124
46       Butaritari      KI     81.50   3.0707  172.7902
48         Cidreira      BR     76.01 -30.1811  -50.2056
49            Avera      US     75.54  33.1940  -82.5271
54         Tomatlan      MX     87.67  19.9333 -105.2500
57         Meulaboh      ID     75.96   4.1363   96.1285
58            Kapaa      US     81.10  22.0752 -159.3190
62         Tshikapa      CD     76.01  -6.4167   20.8000
68           Kankon      IN     75.34  15.0167   74.0167

In [55]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "-38.0023, -57.5575"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = "Hotel not found"

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [56]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mar Del Plata,AR,77.02,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,Isangel,VU,77.92,-19.5500,169.2667,Tanna Lodge
5,Atuona,PF,76.98,-9.8000,-139.0333,Villa Enata
9,Faanui,PF,79.63,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
13,The Valley,AI,84.34,18.2170,-63.0578,CeBlue Villas & Beach Resort
21,Ondjiva,AO,77.67,-17.0667,15.7333,COMBUESA
26,Lubao,PH,80.31,14.9167,120.5500,Hacienda Gracia
27,Hilo,US,80.26,19.7297,-155.0900,Hilo Hawaiian Hotel
28,Maragogi,BR,78.26,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
31,Arraial Do Cabo,BR,84.16,-22.9661,-42.0278,Pousada Porto Praia
39,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
40,Cabo San Lucas,MX,85.60,22.8909,-109.9124,Hotel Tesoro Los Cabos
46,Butaritari,KI,81.50,3.0707,172.7902,Isles Sunset Lodge
48,Cidreira,BR,76.01,-30.1811,-50.2056,Hotel Castelo
49,Avera,US,75.54,33.1940,-82.5271,Hotel not found
54,Tomatlan,MX,87.67,19.9333,-105.2500,El Salvial
57,Meulaboh,ID,75.96,4.1363,96.1285,Kost Pria
58,Kapaa,US,81.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
62,Tshikapa,CD,76.01,-6.4167,20.8000,Tatem beach
68,Kankon,IN,75.34,15.0167,74.0167,Palolem Beach Resort

In [1]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined