# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy

# Import API key
from config import g_key

In [7]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [8]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")

# Display sample data
vacation_df.head(20)

,Index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bartica,GY,89.92,broken clouds,6.4000,-58.6167,Sloth Island Nature Resort
1,2,Bilma,NE,76.03,clear sky,18.6853,12.9164,Expeditions Ténére voyages
2,4,Key West,US,91.40,few clouds,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
3,8,Cayenne,GF,84.24,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
4,10,Sakakah,SA,74.77,overcast clouds,29.9697,40.2064,Fakhamat Al Orjoana Apartment
5,14,Tucurui,BR,93.74,overcast clouds,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA
6,17,Ponta Do Sol,PT,72.01,clear sky,32.6667,-17.1000,Hotel do Campo
7,18,Mahebourg,MU,74.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,27,San Antero,CO,83.84,broken clouds,9.3741,-75.7589,Villamarina Inn chale
9,28,Carballo,ES,67.69,overcast clouds,43.2130,-8.6910,Pazo do Souto
10,30,Bhinmal,IN,77.90,clear sky,25.0000,72.2500,Jambheswar Bhavan(Gopi Khilery)
11,34,Demba,CD,68.36,overcast clouds,-5.5100,22.2667,Guest House Du Cinquantenaire
12,42,Anastacio,BR,91.65,broken clouds,-20.4836,-55.8069,HOTEL ARARAS
13,46,Mbandaka,CD,70.97,overcast clouds,0.0487,18.2603,Guest House Epervier
14,47,Kambove,CD,73.58,broken clouds,-10.8764,26.5969,Pat. Mukendi
15,48,Salalah,OM,77.09,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
16,49,Moroto,UG,70.39,scattered clouds,2.5345,34.6666,"Kara-Tunga, Karamoja Safari Camp"
17,53,Cap Malheureux,MU,74.46,broken clouds,-19.9842,57.6142,Pereybere Hotel & Spa
18,55,Bandarbeyla,SO,79.16,light rain,9.4942,50.8122,JABIR HOTEL
19,57,Hit,IQ,72.97,clear sky,33.6416,42.8251,المعلق حسان رزاق

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [9]:
vacation_df['Country'].value_counts()

BR    63
US    16
IN    14
AR    11
PE    10
      ..
CI     1
ET     1
VG     1
CR     1
ML     1
Name: Country, Length: 95, dtype: int64

In [69]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [10]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [12]:
vacation_df[vacation_df['Country'] == 'MU']

,Index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,18,Mahebourg,MU,74.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
17,53,Cap Malheureux,MU,74.46,broken clouds,-19.9842,57.6142,Pereybere Hotel & Spa
21,63,Bambous Virieux,MU,74.21,light rain,-20.3428,57.7575,Casa Tia Villa
29,75,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
98,206,Grand Gaube,MU,74.37,broken clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
249,498,Quatre Cocos,MU,74.08,light rain,-20.2078,57.7625,Sunrise Attitude Hotel

In [13]:
vacation_df.loc[[7,29,98,249]]

,Index,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,18,Mahebourg,MU,74.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
29,75,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
98,206,Grand Gaube,MU,74.37,broken clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
249,498,Quatre Cocos,MU,74.08,light rain,-20.2078,57.7625,Sunrise Attitude Hotel

In [14]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[7]
vacation_end = vacation_df.loc[7]
vacation_stop1 = vacation_df.loc[29]
vacation_stop2 = vacation_df.loc[98]
vacation_stop3 = vacation_df.loc[249]

In [15]:
vacation_start

Index                                                  18
City                                            Mahebourg
Country                                                MU
Max Temp                                            74.25
Current Description                         broken clouds
Lat                                              -20.4081
Lng                                                  57.7
Hotel Name             Shandrani Beachcomber Resort & Spa
Name: 7, dtype: object

In [16]:
vacation_stop1

Index                                           75
City                                      Souillac
Country                                         MU
Max Temp                                     71.98
Current Description               scattered clouds
Lat                                       -20.5167
Lng                                        57.5167
Hotel Name             Shanti Maurice Resort & Spa
Name: 29, dtype: object

In [17]:
vacation_stop2

Index                                                   206
City                                            Grand Gaube
Country                                                  MU
Max Temp                                              74.37
Current Description                           broken clouds
Lat                                                -20.0064
Lng                                                 57.6608
Hotel Name             Veranda Paul et Virginie Hotel & Spa
Name: 98, dtype: object

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [26]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 =vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

In [27]:
start

array([-20.4081, 57.7], dtype=object)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [35]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [37]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

0                                       18
1                                Mahebourg
2                                       MU
3                                    74.25
4                            broken clouds
5                                 -20.4081
6                                     57.7
7       Shandrani Beachcomber Resort & Spa
8                                       75
9                                 Souillac
10                                      MU
11                                   71.98
12                        scattered clouds
13                                -20.5167
14                                 57.5167
15             Shanti Maurice Resort & Spa
16                                     206
17                             Grand Gaube
18                                      MU
19                                   74.37
20                           broken clouds
21                                -20.0064
22                                 57.6608
23    Veranda Paul et Virginie Hotel & Spa
24                                     498
25                            Quatre Cocos
26                                      MU
27                                   74.08
28                              light rain
29                                -20.2078
30                                 57.7625
31                  Sunrise Attitude Hotel
dtype: object

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [46]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [51]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)
#fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))