# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [17]:
# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv('WeatherPy_Database.csv')

# Display sample data
city_data_df.head()

,Index,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Suamico,US,2022-10-28 20:16:46,44.6319,-88.0393,59.77,51,0,5.75,clear sky
1,1,Bartica,GY,2022-10-28 20:16:48,6.4000,-58.6167,89.92,53,64,4.36,broken clouds
2,2,Bilma,NE,2022-10-28 20:16:48,18.6853,12.9164,76.03,21,0,9.69,clear sky
3,3,Bronnoysund,NO,2022-10-28 20:16:49,65.4625,12.1997,46.40,93,75,10.36,broken clouds
4,4,Key West,US,2022-10-28 20:15:18,24.5557,-81.7826,91.40,74,20,11.50,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [18]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [19]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

                                    
# Display sample data
preferred_cities_df.head(10)

,Index,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bartica,GY,2022-10-28 20:16:48,6.4000,-58.6167,89.92,53,64,4.36,broken clouds
2,2,Bilma,NE,2022-10-28 20:16:48,18.6853,12.9164,76.03,21,0,9.69,clear sky
4,4,Key West,US,2022-10-28 20:15:18,24.5557,-81.7826,91.40,74,20,11.50,few clouds
8,8,Cayenne,GF,2022-10-28 20:16:51,4.9333,-52.3333,84.24,79,0,11.50,clear sky
10,10,Sakakah,SA,2022-10-28 20:16:51,29.9697,40.2064,74.77,31,98,9.42,overcast clouds
11,11,Tiznit,MA,2022-10-28 20:16:52,29.5833,-9.5000,77.99,14,5,3.91,clear sky
13,13,Tanout,NE,2022-10-28 20:16:53,14.9709,8.8879,80.35,17,0,10.29,clear sky
14,14,Tucurui,BR,2022-10-28 20:15:41,-3.7661,-49.6725,93.74,37,100,6.02,overcast clouds
17,17,Ponta Do Sol,PT,2022-10-28 20:16:54,32.6667,-17.1000,72.01,85,8,6.44,clear sky
18,18,Mahebourg,MU,2022-10-28 20:13:08,-20.4081,57.7000,74.25,76,60,10.25,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [20]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 386 entries, 1 to 712
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                386 non-null    int64
 1   City                 386 non-null    object
 2   Country              386 non-null    object
 3   Date                 386 non-null    object
 4   Lat                  386 non-null    float64
 5   Lng                  386 non-null    float64
 6   Max Temp             386 non-null    float64
 7   Humidity             386 non-null    int64
 8   Cloudiness           386 non-null    int64
 9   Wind Speed           386 non-null    float64
 10  Current Description  386 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 36.2+ KB

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [22]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()


# Display sample data
hotel_df.head(20)

            City Country  Max Temp Current Description      Lat      Lng
1        Bartica      GY     89.92       broken clouds   6.4000 -58.6167
2          Bilma      NE     76.03           clear sky  18.6853  12.9164
4       Key West      US     91.40          few clouds  24.5557 -81.7826
8        Cayenne      GF     84.24           clear sky   4.9333 -52.3333
10       Sakakah      SA     74.77     overcast clouds  29.9697  40.2064
11        Tiznit      MA     77.99           clear sky  29.5833  -9.5000
13        Tanout      NE     80.35           clear sky  14.9709   8.8879
14       Tucurui      BR     93.74     overcast clouds  -3.7661 -49.6725
17  Ponta Do Sol      PT     72.01           clear sky  32.6667 -17.1000
18     Mahebourg      MU     74.25       broken clouds -20.4081  57.7000
20         Amapa      BR     78.24     overcast clouds   1.0000 -52.0000
27    San Antero      CO     83.84       broken clouds   9.3741 -75.7589
28      Carballo      ES     67.69     overcast clouds  43.2130  -8.6910
30       Bhinmal      IN     77.90           clear sky  25.0000  72.2500
33       Trapani      IT     68.09       broken clouds  37.8333  12.6667
34         Demba      CD     68.36     overcast clouds  -5.5100  22.2667
42     Anastacio      BR     91.65       broken clouds -20.4836 -55.8069
44  Umm Kaddadah      SD     82.74          few clouds  13.6017  26.6876
46      Mbandaka      CD     70.97     overcast clouds   0.0487  18.2603
47       Kambove      CD     73.58       broken clouds -10.8764  26.5969

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [23]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bartica,GY,89.92,broken clouds,6.4000,-58.6167,
2,Bilma,NE,76.03,clear sky,18.6853,12.9164,
4,Key West,US,91.40,few clouds,24.5557,-81.7826,
8,Cayenne,GF,84.24,clear sky,4.9333,-52.3333,
10,Sakakah,SA,74.77,overcast clouds,29.9697,40.2064,
11,Tiznit,MA,77.99,clear sky,29.5833,-9.5000,
13,Tanout,NE,80.35,clear sky,14.9709,8.8879,
14,Tucurui,BR,93.74,overcast clouds,-3.7661,-49.6725,
17,Ponta Do Sol,PT,72.01,clear sky,32.6667,-17.1000,
18,Mahebourg,MU,74.25,broken clouds,-20.4081,57.7000,
20,Amapa,BR,78.24,overcast clouds,1.0000,-52.0000,
27,San Antero,CO,83.84,broken clouds,9.3741,-75.7589,
28,Carballo,ES,67.69,overcast clouds,43.2130,-8.6910,
30,Bhinmal,IN,77.90,clear sky,25.0000,72.2500,
33,Trapani,IT,68.09,broken clouds,37.8333,12.6667,
34,Demba,CD,68.36,overcast clouds,-5.5100,22.2667,
42,Anastacio,BR,91.65,broken clouds,-20.4836,-55.8069,
44,Umm Kaddadah,SD,82.74,few clouds,13.6017,26.6876,
46,Mbandaka,CD,70.97,overcast clouds,0.0487,18.2603,
47,Kambove,CD,73.58,broken clouds,-10.8764,26.5969,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [24]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [25]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# Display sample data
hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bartica,GY,89.92,broken clouds,6.4000,-58.6167,Sloth Island Nature Resort
2,Bilma,NE,76.03,clear sky,18.6853,12.9164,Expeditions Ténére voyages
4,Key West,US,91.40,few clouds,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
8,Cayenne,GF,84.24,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
10,Sakakah,SA,74.77,overcast clouds,29.9697,40.2064,Fakhamat Al Orjoana Apartment
11,Tiznit,MA,77.99,clear sky,29.5833,-9.5000,
13,Tanout,NE,80.35,clear sky,14.9709,8.8879,
14,Tucurui,BR,93.74,overcast clouds,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA
17,Ponta Do Sol,PT,72.01,clear sky,32.6667,-17.1000,Hotel do Campo
18,Mahebourg,MU,74.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
20,Amapa,BR,78.24,overcast clouds,1.0000,-52.0000,
27,San Antero,CO,83.84,broken clouds,9.3741,-75.7589,Villamarina Inn chale
28,Carballo,ES,67.69,overcast clouds,43.2130,-8.6910,Pazo do Souto
30,Bhinmal,IN,77.90,clear sky,25.0000,72.2500,Jambheswar Bhavan(Gopi Khilery)
33,Trapani,IT,68.09,broken clouds,37.8333,12.6667,
34,Demba,CD,68.36,overcast clouds,-5.5100,22.2667,Guest House Du Cinquantenaire
42,Anastacio,BR,91.65,broken clouds,-20.4836,-55.8069,HOTEL ARARAS
44,Umm Kaddadah,SD,82.74,few clouds,13.6017,26.6876,
46,Mbandaka,CD,70.97,overcast clouds,0.0487,18.2603,Guest House Epervier
47,Kambove,CD,73.58,broken clouds,-10.8764,26.5969,Pat. Mukendi

In [54]:
# Display sample data
hotel_df.isna

<bound method DataFrame.isna of            City Country  Max Temp Current Description      Lat      Lng  \
1       Bartica      GY     89.92       broken clouds   6.4000 -58.6167
2         Bilma      NE     76.03           clear sky  18.6853  12.9164
4      Key West      US     91.40          few clouds  24.5557 -81.7826
8       Cayenne      GF     84.24           clear sky   4.9333 -52.3333
10      Sakakah      SA     74.77     overcast clouds  29.9697  40.2064
..          ...     ...       ...                 ...      ...      ...
706      Mattru      SL     74.79     overcast clouds   7.6244 -11.8332
708  Porto Belo      BR     77.79           clear sky -27.1578 -48.5531
709    Tessalit      ML     75.51           clear sky  20.1986   1.0114
711       Moron      AR     91.15     overcast clouds -34.6534 -58.6198
712        Kita      ML     81.05          few clouds  13.0349  -9.4895

                                      Hotel Name
1                     Sloth Island Nature Resort
2                     Expeditions Ténére voyages
4    Fairfield Inn & Suites by Marriott Key West
8                                Hôtel Le Dronmi
10                 Fakhamat Al Orjoana Apartment
..                                           ...
706    Mondkor Town, Bagbo Chiefdom, Bo District
708                      Costa Verde Beach Hotel
709
711                                  Hotel Morón
712                             Hôtel Chat Rouge

[386 rows x 7 columns]>

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [79]:
# Drop the rows where there is no Hotel Name.
print (hotel_df.columns)

Index(['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng',
       'Hotel Name'],
      dtype='object')

In [88]:
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']

In [89]:
clean_hotel_df.head(20)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bartica,GY,89.92,broken clouds,6.4000,-58.6167,Sloth Island Nature Resort
2,Bilma,NE,76.03,clear sky,18.6853,12.9164,Expeditions Ténére voyages
4,Key West,US,91.40,few clouds,24.5557,-81.7826,Fairfield Inn & Suites by Marriott Key West
8,Cayenne,GF,84.24,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
10,Sakakah,SA,74.77,overcast clouds,29.9697,40.2064,Fakhamat Al Orjoana Apartment
14,Tucurui,BR,93.74,overcast clouds,-3.7661,-49.6725,BBB Rooms Centro Tucurui PA
17,Ponta Do Sol,PT,72.01,clear sky,32.6667,-17.1000,Hotel do Campo
18,Mahebourg,MU,74.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
27,San Antero,CO,83.84,broken clouds,9.3741,-75.7589,Villamarina Inn chale
28,Carballo,ES,67.69,overcast clouds,43.2130,-8.6910,Pazo do Souto
30,Bhinmal,IN,77.90,clear sky,25.0000,72.2500,Jambheswar Bhavan(Gopi Khilery)
34,Demba,CD,68.36,overcast clouds,-5.5100,22.2667,Guest House Du Cinquantenaire
42,Anastacio,BR,91.65,broken clouds,-20.4836,-55.8069,HOTEL ARARAS
46,Mbandaka,CD,70.97,overcast clouds,0.0487,18.2603,Guest House Epervier
47,Kambove,CD,73.58,broken clouds,-10.8764,26.5969,Pat. Mukendi
48,Salalah,OM,77.09,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
49,Moroto,UG,70.39,scattered clouds,2.5345,34.6666,"Kara-Tunga, Karamoja Safari Camp"
53,Cap Malheureux,MU,74.46,broken clouds,-19.9842,57.6142,Pereybere Hotel & Spa
55,Bandarbeyla,SO,79.16,light rain,9.4942,50.8122,JABIR HOTEL
57,Hit,IQ,72.97,clear sky,33.6416,42.8251,المعلق حسان رزاق

In [90]:
clean_hotel_df.iloc[5]["Hotel Name"]

'BBB Rooms Centro Tucurui PA'

In [ ]:
clean_hotel_df.head(20)

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [91]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
city_data_df.to_csv(output_data_file, index_label="Index")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [92]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [93]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Sloth Island Nature Resort</dd>\n<dt>City</dt><dd>Bartica</dd>\n<dt>Country</dt><dd>GY</dd>\n<dt>Current Weather</dt><dd>broken clouds and 89.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Expeditions Ténére voyages</dd>\n<dt>City</dt><dd>Bilma</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fairfield Inn & Suites by Marriott Key West</dd>\n<dt>City</dt><dd>Key West</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 91.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fakhamat Al Orjoana Apartment</dd>\n<dt>City</dt><dd>Sakakah</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>BBB Rooms Centro Tucurui PA</dd>\n<dt>City</dt><dd>Tucurui</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 93.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 74.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villamarina Inn chale</dd>\n<dt>City</dt><dd>San Antero</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pazo do Souto</dd>\n<dt>City</dt><dd>Carballo</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.69 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [96]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat      Lng
1    6.4000 -58.6167
2   18.6853  12.9164
4   24.5557 -81.7826
8    4.9333 -52.3333
10  29.9697  40.2064
14  -3.7661 -49.6725
17  32.6667 -17.1000
18 -20.4081  57.7000
27   9.3741 -75.7589
28  43.2130  -8.6910

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [99]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# Create a figure to add the Google map as a layer

fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))